<%- include("partials/clientHeader")%>

<main class="main-content">
  <div class="container">
    <div class="page">
      
      <!-- Slider Section (Displays All Slider Images) -->
      <div class="row">
        <div class="col-md-12">
          <div class="slider">
            <ul class="slides">
              <% movies.forEach((movie) => { %>
                <li style="text-align: center;">
                  <a href="#"><img style="object-fit: contain;" src="/<%= movie.slider %>" alt="<%= movie.moviename %>"></a>
                  <h4 style="font-size: 16px; font-weight: bold; margin-top: 5px; color: rgb(0, 0, 0);"><%= movie.moviename %></h4>
                </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div> <!-- .row -->

      <!-- Thumbnails Section (Displays All Movie Thumbnails) -->
      <div class="row">
        <% movies.forEach((movie) => { %>
          <div class="col-sm-6 col-md-3">
            <div class="latest-movie" style="text-align: center;">
              <a href="/single/<%=movie.id%>"><img  src="/<%= movie.thumbnail %>" alt="<%= movie.moviename %>" ></a>
              <h4 style="font-size: 16px; font-weight: bold; margin-top: 5px; color: rgb(0, 0, 0);"><%= movie.moviename %></h4>
            </div>
          </div>
        <% }) %>
      </div> <!-- .row -->

      <div class="row">
        <div class="col-md-4">
          <h2 class="section-title">December premiere</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <ul class="movie-schedule">
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2 class="section-title">November premiere</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <ul class="movie-schedule">
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2 class="section-title">October premiere</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <ul class="movie-schedule">
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
          </ul>
        </div>
      </div> <!-- .row -->

    </div>
  </div> <!-- .container -->
</main>

<%- include("partials/clientFooter")%>
