<%- include("../partials/header") %>

<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Edit Movie Info</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit Movie Details</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form class="form-horizontal w-50" method="post" action="/update/<%= movie._id %>" enctype="multipart/form-data">
            <div class="card-body">
              
              <!-- Movie Name -->
              <div class="form-group row">
                <label class="col-sm-3 text-end control-label col-form-label">Movie Name</label>
                <div class="col-sm-9">
                  <input 
                    type="text" 
                    class="form-control" 
                    name="moviename" 
                    required 
                    value="<%= movie.moviename %>"
                  />
                </div>
              </div>

              <!-- Show Current Thumbnail -->
              <div class="form-group row">
                <label class="col-sm-3 text-end control-label col-form-label">Current Thumbnail</label>
                <div class="col-sm-9">
                  <% if (movie.thumbnail) { %>
                    <img src="/<%= movie.thumbnail %>" alt="Movie Thumbnail" width="100">
                  <% } else { %>
                    <p>No Image Available</p>
                  <% } %>
                </div>
              </div>

              <!-- Upload New Thumbnail -->
              <div class="form-group row">
                <label class="col-sm-3 text-end control-label col-form-label">Upload New Thumbnail</label>
                <div class="col-sm-9">
                  <input type="file" class="form-control" name="thumbnail">
                </div>
              </div>

              <!-- Hidden input for old thumbnail -->
              <input type="hidden" name="old_thumbnail" value="<%= movie.thumbnail %>">

              <!-- Show Current Slider -->
              <div class="form-group row">
                <label class="col-sm-3 text-end control-label col-form-label">Current Slider</label>
                <div class="col-sm-9">
                  <% if (movie.slider) { %>
                    <img src="/<%= movie.slider %>" alt="Slider Image" width="100">
                  <% } else { %>
                    <p>No Image Available</p>
                  <% } %>
                </div>
              </div>

              <!-- Upload New Slider -->
              <div class="form-group row">
                <label class="col-sm-3 text-end control-label col-form-label">Upload New Slider</label>
                <div class="col-sm-9">
                  <input type="file" class="form-control" name="slider">
                </div>
              </div>

              <!-- Hidden input for old slider -->
              <input type="hidden" name="old_slider" value="<%= movie.slider %>">

              <!-- Release Year -->
              <div class="form-group row">
                <label class="col-sm-3 text-end control-label col-form-label">Release Year</label>
                <div class="col-sm-9">
                  <input 
                    type="number" 
                    class="form-control" 
                    name="ryear" 
                    min="1900" 
                    max="2025" 
                    required 
                    value="<%= movie.ryear %>"
                  />
                </div>
              </div>

              <!-- Genre -->
              <div class="form-group row">
                <label class="col-sm-3 text-end control-label col-form-label">Genre</label>
                <div class="col-sm-9">
                  <select name="genre" class="w-auto">
                    <option value="Action" <%= movie.genre === 'Action' ? 'selected' : '' %> >Action</option>
                    <option value="Comedy" <%= movie.genre === 'Comedy' ? 'selected' : '' %> >Comedy</option>
                    <option value="Drama" <%= movie.genre === 'Drama' ? 'selected' : '' %> >Drama</option>
                    <option value="Thriller" <%= movie.genre === 'Thriller' ? 'selected' : '' %> >Thriller</option>
                  </select>
                </div>
              </div>

              <!-- Cast -->
              <div class="form-group row">
                <label class="col-sm-3 text-end control-label col-form-label">Cast</label>
                <div class="col-sm-9">
                  <textarea 
                    class="form-control" 
                    name="cast" 
                    required
                  ><%= movie.cast %></textarea>
                </div>
              </div>

              <!-- Rating -->
              <div class="form-group row">
                <label class="col-sm-3 text-end control-label col-form-label">Star</label>
                <div class="col-sm-9">
                  <input 
                    type="number" 
                    class="form-control" 
                    name="rating" 
                    step="1" 
                    min="1" 
                    max="5" 
                    required 
                    value="<%= movie.rating %>"
                  />
                </div>
              </div>

              <!-- Description -->
              <div class="form-group row">
                <label class="col-sm-3 text-end control-label col-form-label">Description</label>
                <div class="col-sm-9">
                  <textarea 
                    class="form-control" 
                    name="description" 
                    required
                  ><%= movie.description %></textarea>
                </div>
              </div>

            </div>
            
            <!-- Submit Button -->
            <div class="border-top">
              <div class="card-body">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
